<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <typeAliases>
      <!--<typeAlias alias="UserModel" type="MvcUnity.Model.UserModel, MvcUnity.Model" />
      <typeAlias alias="NewsModel" type="MvcUnity.Model.NewsModel, MvcUnity.Model" />-->
      
      <typeAlias alias="IControllerFactory" type="System.Web.Mvc.IControllerFactory, System.Web.Mvc" />
      <typeAlias alias="UnityControllerFactory" type="MvcUnity.IoC.IoCResolver.UnityControllerFactory, MvcUnity.IoC" />
      
      <!--控制器 开始-->
      <!--<typeAlias alias="HomeController" type="MvcUnity.Controllers.HomeController, MvcUnity" />-->
      <!--控制器 结束-->
    </typeAliases>

    <containers>
      <container name="ContainerEF">
        <!--控制器实例(如果不配置，IoC可以自动装配的) 开始-->

        <register type="IControllerFactory" mapTo="UnityControllerFactory">
        </register>

        <!--<register type="HomeController" mapTo="HomeController">
          <constructor>
            <param name="userModel">
              <dependency type="UserModel"></dependency>
            </param>
          </constructor>
        </register>-->
        
        <!--控制器实例 结束-->
      </container>
    </containers>
  </unity>
</configuration>
